<div class="vagon" *ngFor="let vagon of vagons" 
     [class.selected]="isVagonSelected(vagon)">
  <h3>{{ vagon.name }}</h3>
  <p>Train Number: {{ vagon.trainNumber }}</p>
  <div class="btns">
    <button class="btnSeat"
            *ngFor="let seat of vagon.seats"
            [disabled]="seat.isOccupied" 
            (click)="selectSeat(seat, vagon.trainId)">
      <span class="seat-info">
        {{ seat.number }} - {{ seat.price }} GEL
      </span>
      <span *ngIf="seat.isOccupied" class="occupied">Occupied</span>
    </button>
  </div>
</div>


<!-- : 
isOccupied
: 
false
number
: 
"6A"
price
: 
75
seatId
: 
"ef212abe-81b4-4334-bee4-02d636aa4ce5"
vagonId
: 
37 -->