
<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="/logo.png" alt="My Railway" />
      </a>
      <span>My Railway</span>
    </div>

    <nav class="nav">
      <a routerLink="/" class="nav-link">მთავარი</a>
      <a routerLink="/trains" class="nav-link">მატარებლები</a>
      <a routerLink="/booking" class="nav-link">დაჯავშნა</a>
      <a routerLink="/transaction" class="nav-link">გადახდა</a>
      <a routerLink="/about" class="nav-link">ჩვენ შესახებ</a>
    </nav>
  </div>
</header>


















      <!-- <a routerLink="/stations">სადგურები</a>
      <a routerLink="/departures">გამგზავრებები</a>
      <a routerLink="/tickets">ბილეთები</a> -->
      