<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="/logo.png" alt="My Railway" />
      </a>
      <span>My Railway</span>
    </div>
       
    <nav class="nav">
      <a routerLink="/">მთავარი</a>
      <a routerLink="/trains">მატარებლები</a>
      <a routerLink="/booking">დაჯავშნა</a>
      <a routerLink="/transaction">გადახდა</a>
      <!-- <a routerLink="/stations">სადგურები</a>
      <a routerLink="/departures">გამგზავრებები</a>
      <a routerLink="/tickets">ბილეთები</a> -->
    </nav>
  </div>
</header>
