<div class="hero-section">
  <div class="hero-image">
    <img src="/RAILLOGO.png" alt="Travel Image">
  </div>
  <div class="hero-content">
    <h2>მატარებლის ბილეთები</h2>
    <p>რეზერვაციის ბილეთების შეძენამდე თვალი გადაავლე დეტალურ მონაცემებს: მოსახერხებელი ძიება, მგზავრობის პარამეტრები და ფასები. გისურვებთ მხიარულ მოგზაურობას!</p>

    <div class="benefits">
      <div class="benefit">
        <img src="" alt="chart icon">
        <span>შეუდარებელი მახასიათებლები</span>
      </div>
      <div class="benefit">
        <img src="" alt="support icon">
        <span>24X7 მხარდაჭერა</span>
      </div>
      <div class="benefit">
        <img src="" alt="check icon">
        <span>100% უსაფრთხო</span>
      </div>
      <div class="benefit">
        <img src="" alt="secure icon">
        <span>100% თანხის დაბრუნება</span>
      </div>
    </div>
  </div>
</div>
